*{
  margin: 0;
  padding: 0;
}
.right-menu li
{
  display: inline-block;
  margin-top: 30px !important;
}
.right-menu li .fa
{
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
}
.navbar-brand img
{
  width: 160px;
}
.navbar-brand 
{
  left: 50%;
  top: 25px;
  transform: translateX(-50%);
  position: absolute;
}
.header
{
  background: #f5f6fc;
  margin-bottom: 80px;
}
.navbar
{
  padding: 0 35px !important;
}
.navbar-toggler
{
  border: none !important;
  outline: none !important;
  padding: 0 !important;
  margin-top: 30px;
}
.navbar-toggler .fa
{
  font-size: 30px;
  cursor: pointer;
}

.banner-img
{
  margin: 80px 115px;
  width: 60%;
}
.banner-img img
{
  width: 100%;
  margin-bottom: -80px;
}
.banner
{
  position: relative;
}
.banner-title
{
  position: absolute;
  left: 50%;
  top: 20%;
}
.banner-title h1
{
  font-size: 55px;
  background: rgba(0,0,0,0.75);
  color: #fff;
  line-height: 70px;
  padding:0 10px 0 10px;
}

/*---------fashion-trends---------*/
.fashion-trends
{
  padding: 100px 0;
}
.fashion-box
{
  margin: 80px 0;
}
.title-style h1
{
  padding: 40px 0;
}
.title-style 
{
  margin: 0 auto 80px;
  height: 120px;
  width: 80%;
  max-width: 700px;
  background: #fff;
  position: relative;
  box-shadow: 0 4px 5px 0 rgba(0,0,50,0.5);
}

.title-style::after
{
  content: '';
  height: 100px;
  width: 200px;
  background-color: #f5f185;
  position: absolute;
  top: -10px;
  left:-10px;
  z-index: -1;
}
.title-style::before
{
  content: '';
  height: 100px;
  width: 200px;
  background-color: #f5f185;
  position: absolute;
  bottom: -10px;
  right:-10px;
  z-index: -1;
}
.title-style1
{
  margin: 0 auto 80px;
  height: 120px;
  width: 80%;
  max-width: 700px;
  background: #fff;
  position: relative;
  box-shadow: 0 4px 5px 0 rgba(0,0,50,0.5);
}

.title-style1::after
{
  content: '';
  height: 100px;
  width: 200px;
  background-color: #03a7f2;
  position: absolute;
  top: -10px;
  left:-10px;
  z-index: -1;
}
.title-style1::before
{
  content: '';
  height: 100px;
  width: 200px;
  background-color: #03a7f2;
  position: absolute;
  bottom: -10px;
  right:-10px;
  z-index: -1;
}

.title-style2
{
  margin: 0 auto 80px;
  height: 120px;
  width: 80%;
  max-width: 700px;
  background: #fff;
  position: relative;
  box-shadow: 0 4px 5px 0 rgba(0,0,50,0.5);
}

.title-style2::after
{
  content: '';
  height: 100px;
  width: 200px;
  background-color: #4ac78e;
  position: absolute;
  top: -10px;
  left:-10px;
  z-index: -1;
}
.title-style2::before
{
  content: '';
  height: 100px;
  width: 200px;
  background-color: #4ac78e;
  position: absolute;
  bottom: -10px;
  right:-10px;
  z-index: -1;
}


.trending-img
{
  position:relative;
  margin-bottom: 15px;
}
.trending-img img
{
  width: 100%;
}
.btn-buy
{
  width: 150px;
  padding: 10 px 0;
  outline: none !important;
  border: 0;
  border-radius: 2px;
  position: absolute;
  background: #fff;
  left: 50%;
  bottom: 0;
  transform: translate(-50%,0);
  transition: .6s;
  opacity: 0;
  z-index:1;
}
.trending-img:hover .btn-buy
{
  transform: translate(-50%,50%);
  bottom: 50%;
  opacity: 1;
}
.overlay
{
  height:100%;
  width:100%;
  background: #333;
  position: absolute; 
  top:0;
  opacity: .5;
  transition: .5s;
}
.trending-img:hover .overlay
{
  opacity: .5;
  height: 100%;
}

/*--------offer----------*/

.offer
{
  background-image: url(images/fashion.jpg);
  background-size: cover;
  background-position: center;
}
.row
{
  margin: initial !important;
}
.subscribe
{
  max-width: 500px;
  margin-top: 80px;
  padding: 60px;
  background: #ffffff8c;
  margin-bottom: 20px;
}
.subscribe a
{
  width: 100px;
  display: block;
  color: #fff !important;
  background: #000;
  text-decoration: none !important;
  padding: 5px;
  text-align: center;
}
.offer img
{
  width: 300px;
  height: 400px;
  margin: -100px;
  margin-top: 150px;
}


/*-------------fashion-blog----------*/

.fashion-blog
{
  margin: 250px 0 150px 0;
}
.blog-img
{
  margin-top: 50px;
  height: 300px;
  width: 300px;
  display: inline-block;
}
.blog-img img
{
  width: 100%;
  height: 100%;
}
.fashion-blog h5;
{
  margin-top: 20px;
  font-weight: bold;
}

/*-----------fashion-brands-------*/

.fashion-brands
{
  margin-bottom: 150px;
}
.brand-logo
{
  width:200px;
  height: 200px;
  background: #fff;
  border-radius: 50%;
  margin: 50px auto 30px;
  box-shadow: 0 2px 40px 0 rgba(110,130,208,.18);
}
.brand-logo img
{
  width: 100px;
  margin: 50px auto;
}
.fashion-brands p
{
  margin-top: 30px;
  font-weight: bold;
}

/*------------footer----------*/

.footer
{
  margin-top:150px;
  background: #f5f6fc;
}
.payment
{
  margin: 50px auto;
}
.payment img
{
  width::300px;
  cursor: pointer;
}
.insta-img img
{
  width:75px;
  padding: 5px;
  cursor: pointer;
}
.app-download img
{
  width: 200px;
}
.footer h5::before
{
    margin-bottom: 50px;
}
.footer h5::before
{
  content:'';
  width: 70px;
  height: 3px;
  background: #4f74e8;
  top: 80px;
  position: absolute;
}
.footer-icons
{
  text-align: right;
}
.footer-icons .fa
{
  margin: 0 10px auto;
  font-size: 20px;
  cursor: pointer;
}

/*-----------for small device-----------*/

@media only screen and (max-width:900px)
  {
    .banner-img
    {
      margin: 40px auto;
      width: 80%;
    }
    .banner-title
    {
      top: 150%;
      left:50%;
      transform: translateX(50%);
    }
      .banner-title h1
    {
      font-size: 16px;
      padding: 5px;
      line-height:20px;
}
    .title-style h1
    {
    
      font-size:25px;
    }
    .offer img
    {
      margin-top: 20px !important;
      margin-bottom: 0 !important;
    }
    .footer-icons
    {
      text-align: center;
    }
    .copyright
      {
        text-align: center;
    }
}
/*-----animation------*/
.minicontainer{
  float: left;
  width: 50%;
  padding: 15px;
}
.mcontainer:after{
  content: "";
  display: table;
  clear: both;
}
.nulle{
	background:#a7ffeb;
}
.hero{
	display:flex;
	width:90px;
	height:90px;
	flex-wrap:wrap;
	margin: 150px auto;
	background: #fff;
}
.small-img{
	flex-basis: 30px;
	cursor: pointer;
	position: relative;
	transition: 2s;
	box-shadow: 27px 41px 13px 4px rgba(0,0,0,0.10);
}
.small-img img{
	max-width 100px;
}
.small-img::after{
	content:"";
	width: 30px;
	height: 30px;
	bottom:-29px;
	left: 7px;
	position:absolute;
	background:rgba(0,0,0,0.10);
	transform: skewX(26deg);
}
.small-img::before{
	content:"";
	width: 15px;
	height: 30px;
	right: -14px;
	top: 15px;
	position: absolute;
	background:rgba(0,0,0,0.10);
	transform: skewY(65deg);
}


.hero:hover .small-img:nth-child(1){
	transform: translate(60px, 230px) rotate(360deg);
}
.hero:hover .small-img:nth-child(2){
	transform: translate(-260px, -150px) rotate(360deg);
}
.hero:hover .small-img:nth-child(3){
	transform: translate(91px, 295px) rotate(360deg);
}
.hero:hover .small-img:nth-child(4){
	transform: translate(440px, -220px) rotate(360deg);
}
.hero:hover .small-img:nth-child(5){
	transform: translate(100px, -120px) rotate(360deg);
}
.hero:hover .small-img:nth-child(6){
	transform: translate(-370px, 320px) rotate(360deg);
}
.hero:hover .small-img:nth-child(7){
	transform: translate(0, -240px) rotate(360deg);
}
.hero:hover .small-img:nth-child(8){
	transform: translate(-140px, -20px) rotate(360deg);
}
.hero:hover .small-img:nth-child(9){
	transform: translate(-200px, -75px) rotate(360deg);
}

/*-----contact us------*/
body{
	background: #55ffe5;
	font-size: 14px;
}
.container{
	width:80%;
	margin: 50px auto;
}
.contact-box{
	background: #fff;
	display: flex;
}
.contact-left{
	flex-basis: 60%
	padding: 40px 60px;
}
.contact-right{
	flex-basis: 40%
	padding: 40px;
	background: #1c00b5;
	color: #fff;
}
h1{
	margin-bottom: 10px;
}
.container p{
	margin-bottom: 40px;
}
.input-row{
	display: flex;
	justify-content: sppace-between;
	margin-bottom: 20px;
}
.input-row. .input-group{
	flex-basis: 45%;
}
input{
	width: 100%;
	border: none;
	border-bottom: 1px solid #ccc;
	outline: none;
	padding-bottom: 5px;
}

textarea{
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box
}
label{
  margin-bottom: 6px;
  display: block;
  color: #1c00b5;
}
button{
  background: #1c00b5;
  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}

.contact-left h3{
  color: #1c00b5;
  font-weight: 600;
  margin-bottom: 30px;
}
.contact-right h3{
  font-weight: 600;
  margin-bottom: 30px;
}

tr td:first-child{
  padding-right: 20px;
}
tr td{
  padding-top: 20px;
}





